[gcode_macro WIPE_NOZZLE]
gcode:
    {% set WIPES = params.WIPES|default(6)|int %}    # How many full wipes to perform
    {% set SPEED = params.SPEED|default(10000)|int %} # Nozzle wipe speed in mm/min.

    {% set BRUSH_Z = printer["gcode_macro _CLIENT_VARIABLE"].brush_z|float %}
    {% set BRUSH_Y = printer["gcode_macro _CLIENT_VARIABLE"].brush_y|float %}
    {% set Z_HOP = printer["gcode_macro _CLIENT_VARIABLE"].z_hop|float %}
    {% set SPEED_XY = printer["gcode_macro _CLIENT_VARIABLE"].speed_xy|float %}
    {% set SPEED_Z = printer["gcode_macro _CLIENT_VARIABLE"].speed_z|float %}
    {% set BRUSH_X = printer["gcode_macro _CLIENT_VARIABLE"].brush_x|float %}
    {% set BRUSH_WIDTH = printer["gcode_macro _CLIENT_VARIABLE"].brush_width|float %}
    {% set BUCKET_POS = printer["gcode_macro _CLIENT_VARIABLE"].bucket_pos|float %}
    {% set BUCKET_X = printer["gcode_macro _CLIENT_VARIABLE"].bucket_x|float %}
    {% set BUCKET_WIDTH = printer["gcode_macro _CLIENT_VARIABLE"].bucket_width|float %}

    _CG28
    STATUS_CLEANING
    RESPOND MSG="Wiping nozzle..."
    SAVE_GCODE_STATE NAME=WIPE_NOZZLE

    G90 ; Absolute positioning
    G1 Z{BRUSH_Z + Z_HOP} F{SPEED_Z}
    G1 X{BRUSH_X + (BRUSH_WIDTH * BUCKET_POS)} F{SPEED_XY}
    G1 Y{BRUSH_Y}

    ## Move nozzle down to the brush
    G1 Z{BRUSH_Z} F{SPEED_Z}

    ## Perform wipe
    {% for WIPES in range(1, (WIPES + 1)) %}
        G1 X{BRUSH_X + (BRUSH_WIDTH * (1 - BUCKET_POS))} F{SPEED}
        G1 X{BRUSH_X + (BRUSH_WIDTH * BUCKET_POS)} F{SPEED}
    {% endfor %}

    ## Clear from area.
    RESPOND MSG="Cleaned!"
    G1 Z{BRUSH_Z + Z_HOP} F{SPEED_Z}
    G1 X{BUCKET_X + (BUCKET_WIDTH / 4)} F{SPEED_XY}

    RESTORE_GCODE_STATE NAME=WIPE_NOZZLE
    STATUS_READY