######
# General Tunes
#  _PLAY_STARTUP
#  _PLAY_PRINT_START
#  _PLAY_PRINT_END
#  _PLAY_HEAT_COMPLETE
# Filament Tunes
#  _PLAY_FILAMENT_RUNOUT
#  _PLAY_FILAMENT_INSERT

# -================================-
#   General Tunes
# -================================-
[gcode_macro _PLAY_STARTUP]
description: Tone on startup
gcode:
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=4 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="d" OCTAVE=4 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=4 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="as" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="b" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=4 DURATION=20
    #PLAY NOTE="c" OCTAVE=4 DURATION=250
    #PLAY NOTE="a" OCTAVE=3 DURATION=250
    #PLAY NOTE="c" OCTAVE=4 DURATION=250
    #G4 P250 ; pause for 250ms
    #PLAY NOTE="d" OCTAVE=4 DURATION=500
    #PLAY NOTE="e" OCTAVE=4 DURATION=500

[gcode_macro _PLAY_PRINT_START]
description: Tone on print start
gcode:
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="c" OCTAVE=4 DURATION=250
    PLAY VOLUME=.01 NOTE="a" OCTAVE=3 DURATION=500

[gcode_macro _PLAY_PRINT_END]
description: Tone on print end
gcode:
    PLAY VOLUME=.01 NOTE="c" OCTAVE=2 DURATION=250
    PLAY VOLUME=.01 NOTE="d" OCTAVE=2 DURATION=250
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=500

[gcode_macro _PLAY_HEAT_COMPLETE]
description: Tone on print end
gcode:
    PLAY VOLUME=.01 NOTE="c" OCTAVE=2 DURATION=500
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=500

    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="a" OCTAVE=3 DURATION=500

# -================================-
#   Filament Tunes
# -================================-
[gcode_macro _PLAY_FILAMENT_RUNOUT]
description: Tone on filament runout
gcode:
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=500
    G4 P250 ; pause for 250ms
    PLAY VOLUME=.01 NOTE="c" OCTAVE=4 DURATION=100
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=100
    PLAY VOLUME=.01 NOTE="c" OCTAVE=4 DURATION=100
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=100

[gcode_macro _PLAY_FILAMENT_DETECTED]
description: Tone on filament detected
gcode:
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=500
    G4 P250 ; pause for 250ms
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="e" OCTAVE=4 DURATION=500

[gcode_macro _PLAY_FILAMENT_LOAD]
description: Tone on filament load
gcode:
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=500
    G4 P250 ; pause for 250ms
    PLAY VOLUME=.01 NOTE="c" OCTAVE=2 DURATION=1000

[gcode_macro _PLAY_FILAMENT_UNLOAD]
description: Tone on filament unload
gcode:
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=250
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=500
    G4 P250 ; pause for 250ms
    PLAY VOLUME=.01 NOTE="a" OCTAVE=2 DURATION=500
    PLAY VOLUME=.01 NOTE="c" OCTAVE=2 DURATION=500

# -================================-
#   Extra Tunes
# -================================-
[gcode_macro _PLAY_SONG_DOOM]
description: DOOM theme song https://www.youtube.com/watch?v=VX1-e1Wg41Y
gcode:
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="d" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="as" OCTAVE=2 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="b" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=20


    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="d" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="as" OCTAVE=2 DURATION=80

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="d" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="as" OCTAVE=2 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="b" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=20


    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="d" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="c" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="as" OCTAVE=2 DURATION=80

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="d" OCTAVE=3 DURATION=20

    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=2 DURATION=20

    PLAY VOLUME=.01 NOTE="fs" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="e" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="ds" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="fs" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="a" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="fs" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="ds" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="fs" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="a" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="b" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="a" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="g" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="fs" OCTAVE=3 DURATION=20
    PLAY VOLUME=.01 NOTE="ds" OCTAVE=3 DURATION=20
    