#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
#  [quad_gantry_level]
#  [bed_mesh]

[quad_gantry_level]
gantry_corners: 
	-60, -10 # Front left stepper
	360, 370 # Back right stepper
points: 
  	 50,  25
  	 50, 225
  	250, 225
  	250,  25
speed                     :  300
horizontal_move_z         :   15
retries                   :    5
retry_tolerance           :    0.005 # min .00125
max_adjust                :   15

#####################################################################
#   Bed mesh
#####################################################################
[bed_mesh]
speed                     :  350
horizontal_move_z         :    7
mesh_min                  :  50,  50
mesh_max                  : 250, 250
probe_count               :  9,  9
algorithm                 : bicubic