backup/
certs/
comms/
database/
gcodes/
logs/
moonraker.asvc
timelapse/
systemd/

config/.moonraker.conf.bkp
config/mooncord.json
config/mainsail.cfg
config/saved_variables.cfg
.DS_Store
.moonraker.uuid
