.DS_Store

*/
!config/

config/saved_variables.cfg
moonraker.asvc

# Secrets
.moonraker.uuid
config/mobileraker.conf

# Linked files
config/timelapse.cfg

## Backups
config/.moonraker.conf.bkp
config/printer-*.cfg

## Happy Hare
config/mmu/base/mmu_cut_tip.cfg
config/mmu/base/mmu_form_tip.cfg
config/mmu/base/mmu_leds.cfg
config/mmu/base/mmu_sequence.cfg
config/mmu/base/mmu_software.cfg
config/mmu/base/mmu_state.cfg

config/mmu/optional/client_macros.cfg
config/mmu/optional/mmu_menu.cfg

