backup/
certs/
comms/
database/
gcodes/
logs/
octoeverywhere-store/
systemd/
timelapse/

.moonraker.uuid
moonraker.asvc

.DS_Store
config/.moonraker.conf.bkp
config/mainsail.cfg
config/saved_variables.cfg
