# printing.retract
#  _CLIENT_EXTRUDE
#  _CLIENT_RETRACT

[gcode_macro _CLIENT_EXTRUDE]
description: Extrudes, if the extruder is hot enough
gcode:
  ##### get user parameters or use default #####
  {% set CFG              = printer['gcode_macro _CONFIG'] %}
  {% set use_fw_retract   = (CFG.retract_enabled|default(false)|lower == 'true') and (printer.firmware_retraction is defined) %}
  {% set length           = params.LENGTH|default(CFG.unretract_length)|default(1.0)|float %}
  {% set speed            = params.SPEED|default(CFG.unretract_speed)|default(35) %}
  {% set absolute_extrude = printer.gcode_move.absolute_extrude %}
  ##### end of definitions #####
  {% if printer.toolhead.extruder != '' %}
    {% if printer[printer.toolhead.extruder].can_extrude %}
      {% if use_fw_retract %}
        {% if length < 0 %}
          G10
        {% else %}
          G11
        {% endif %}
      {% else %}
        M83
        G1 E{length} F{(speed|float|abs) * 60}
        {% if absolute_extrude %}
          M82
        {% endif %}
      {% endif %}
    {% else %}
      RESPOND TYPE=echo MSG='Extruder not hot enough'
    {% endif %}
  {% endif %}

[gcode_macro _CLIENT_RETRACT]
description: Retracts, if the extruder is hot enough
gcode:
  {% set CFG = printer['gcode_macro _CONFIG'] %}
  {% set length = params.LENGTH|default(CFG.retract)|default(1.0)|float %}
  {% set speed = params.SPEED|default(CFG.retract_speed)|default(35) %}

  _CLIENT_EXTRUDE LENGTH=-{length|float|abs} SPEED={speed|float|abs}