#####################################################################
#   Macros
#####################################################################
[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    RESPOND MSG="Homing X, Y, Z axes..."
    G28
    RESPOND MSG="Performing QGL..."
    QUAD_GANTRY_LEVEL
    RESPOND MSG="Homing X, Y, Z axes..."
    G28
    G0 X150 Y150 Z30 F3600
    RESTORE_GCODE_STATE NAME=STATE_G32

# Its important the nozzle be clean prior to your pre-print Z-home and QGL.
# My pre-print nozzle cleaning macro does initial home, heats the bed to printing temps (110) and sits over the decontaminator purge bucket. 
# It then heats the hotend to print temp (250) and then drops it back to 150. This lets the nozzle ooze out (from residual pressure?). 
# It dropping to 150 stops the oozing while keeping anything stuck on it pliable. The macro then runs the nozzle across the brush to knock off any stuff still stuck on. 
# It will then QGL, perform the last "clean" Z-home, return to the bucket, heat to print temp, scrub the nozzle again.. and finally print. 
# I have my slicer set to do two loops on the skirts to ensure the nozzle is fully primed for the first layer. This process has been 100% so far.

## The printer should be heak soaked prior to running this MACRO
[gcode_macro PRE_PRINT]
gcode:
    {% set BED = params.BED_TEMP|default(100.0)|float %}
    {% set EXTRUDER = params.EXTRUDER_TEMP|default(220.0)|float %}
    {% set COOL = 150.0|float %}
    RESPOND MSG="Running PRE_PRINT checklist..."
    G90                       ; Use absolute coordinates
    RESPOND MSG="Heating bed..."
    M190 S{BED}               ; Set bed temperature
    G32                       ; Initial home
    G1 X295 Y295 Z30 F3000    ; Move nozzle to corner (purge bucket)
    RESPOND MSG="Heating nozzle..."
    M109 S{EXTRUDER_TEMP}     ; Heat the nozzle
    RESPOND MSG="Cooling nozzle..."
    M109 S{COOL}               ; Drop nozzle temperature to {COOL}
    RESPOND MSG="Scrubbing nozzle..."
    # Scrub nozzle

## Use PRINT_START for the slicer starting script - please customise for your slicer of choice
[gcode_macro PRINT_START]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(100)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
    G90                            ; Use absolute coordinates
    #G32                            ; Home axes and QGL
    RESPOND MSG="Heating bed..."
    M190 S{BED_TEMP}               ; ensure bed is at temperature
    G1 Z30 F3000                   ; move nozzle away from bed for brushing while it heats
    RESPOND MSG="Heating extruder..."
    M109 S{EXTRUDER_TEMP}          ; Set and wait for nozzle to reach temperature
    # Scrub nozzle
    G90                            ; absolute positioning

## Use PRINT_END for the slicer ending script - please customise for your slicer of choice
[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

[gcode_macro HOME]
gcode:
    G32                            ; home all axes
    G0 X150 Y150 Z100 F20000       ; move nozzle to center