#####################################################################
#   V2.5172 "Palladium" Configuration
#####################################################################
[respond]
[exclude_object]
[save_variables]
filename: ~/printer_data/config/saved_variables.cfg
[force_move]
enable_force_move: true

[include mainsail.cfg]
[include timelapse.cfg]
[include machine/config_backup.cfg]

[include KAMP_Settings.cfg]
[include KAMP/Line_Purge.cfg]
[include KAMP/Adaptive_Meshing.cfg]

[include settings.cfg]
[include macros.cfg]

[include machine/overrides.cfg]
[include machine/stealthburner.cfg]
[include machine/nevermore.cfg]
[include machine/bucket.cfg]
[include machine/filament.cfg]
[include machine/heatsoak.cfg]
[include machine/beep.cfg]

[include machine/pin_aliases.cfg]
[include machine/status.cfg]
[include machine/tunes.cfg]

[include machine/TEST_SPEED.cfg]

[mcu]
canbus_uuid: 99b9c36dc901

[mcu EBB36]
canbus_uuid: e4fa299ecaf1

[printer]
kinematics               : corexy
max_velocity             :  450
max_z_velocity           :   30
max_accel                : 3000
max_z_accel              :  350
max_accel_to_decel       : 1500
square_corner_velocity   :    6

[adxl345]
cs_pin                   : EBB36: PB12
spi_software_sclk_pin    : EBB36: PB10
spi_software_mosi_pin    : EBB36: PB11
spi_software_miso_pin    : EBB36: PB2
axes_map                 : x,y,z

[resonance_tester]
accel_chip               : adxl345
min_freq                 :    5
max_freq                 : 133.33
accel_per_hz             :   75
hz_per_sec               :    1
probe_points             : 150,150,20

[idle_timeout]
gcode: 
	{% if "xyz" in printer.toolhead.homed_axes %}
	  PARK_FRONT
	{% endif %}
    OFF
timeout: 1800

[firmware_retraction]
retract_length           :    5
unretract_extra_length   :    0
unretract_speed          :   30
retract_speed            :   30

#####################################################################
#    X/Y Stepper Settings
#####################################################################
## B Stepper - Left / Connected to MOTOR_0
[stepper_x]
enable_pin                : !MOT0_EN
step_pin                  :  MOT0_STEP
dir_pin                   :  MOT0_DIR
rotation_distance         :   40
microsteps                :   32
full_steps_per_rotation   :  400

homing_speed              :   60
second_homing_speed       :   25
homing_retract_dist       :    5
homing_positive_dir       : True

# --- X Endstop -> DIAG_0 --- #
endstop_pin               :  EBB36: PB6
position_endstop          :  300
position_min              :    0
position_max              :  300

[tmc2209 stepper_x]
uart_pin                  :  MOT0_CS
interpolate               : False
run_current               :    1.0
sense_resistor            :    0.110
stealthchop_threshold     :    0

## A Stepper - Right / Connected to MOTOR_1
[stepper_y]
enable_pin                : !MOT1_EN
step_pin                  :  MOT1_STEP
dir_pin                   :  MOT1_DIR
rotation_distance         :   40
microsteps                :   32
full_steps_per_rotation   :  400

homing_speed              :   60
second_homing_speed       :   25
homing_retract_dist       :    5
homing_positive_dir       : True

# --- Y Endstop -> DIAG_1 --- #
endstop_pin               :  ESTOP1
position_endstop          :  300
position_min              :    0
position_max              :  300

[tmc2209 stepper_y]
uart_pin                  :  MOT1_CS
interpolate               : False
run_current               :    1.0
sense_resistor            :    0.110
stealthchop_threshold     :    0

#####################################################################
#    Z Stepper Settings
#####################################################################
## Z0 Stepper - Front Left / Connected to MOTOR_4
[stepper_z]
enable_pin                : !MOT4_EN
step_pin                  :  MOT4_STEP
dir_pin                   :  MOT4_DIR
rotation_distance         :   40
microsteps                :   32
gear_ratio                : 80:16

homing_speed              :   10
second_homing_speed       :    4
homing_retract_dist       :    2
homing_positive_dir       : False
endstop_pin               : probe:z_virtual_endstop
position_max              :  270
position_min              :  -10

[tmc2209 stepper_z]
uart_pin                  : MOT4_CS
interpolate               : False
run_current               :    1.0
sense_resistor            :    0.110
stealthchop_threshold     :  999

[stepper_z1]
enable_pin                : !MOT5_EN
step_pin                  :  MOT5_STEP
dir_pin                   : !MOT5_DIR
rotation_distance         :   40
microsteps                :   32
gear_ratio                : 80:16

[tmc2209 stepper_z1]
uart_pin                  :  MOT5_CS
interpolate               : False
run_current               :    1.0
sense_resistor            :    0.110
stealthchop_threshold     :  999

[stepper_z2]
enable_pin                : !MOT6_EN
step_pin                  :  MOT6_STEP
dir_pin                   :  MOT6_DIR
rotation_distance         :   40
microsteps                :   32
gear_ratio                : 80:16

[tmc2209 stepper_z2]
uart_pin                  :  MOT6_CS
interpolate               : False
run_current               :    1.0
sense_resistor            :    0.110
stealthchop_threshold     :  999

[stepper_z3]
enable_pin                : !MOT7_EN
step_pin                  :  MOT7_STEP
dir_pin                   : !MOT7_DIR
rotation_distance         :   40
microsteps                :   32
gear_ratio                : 80:16

[tmc2209 stepper_z3]
uart_pin                  :  MOT7_CS
interpolate               : False
run_current               :    1.0
sense_resistor            :    0.110
stealthchop_threshold     :  999

#####################################################################
#    Extruder
#####################################################################
[extruder]
enable_pin                : !EBB36: PD2
step_pin                  :  EBB36: PD0
dir_pin                   :  EBB36: PD1
heater_pin                :  EBB36: PB13
sensor_type               : MAX31865
sensor_pin                : EBB36: PA4
spi_bus                   : spi1
rtd_nominal_r             :  100
rtd_reference_r           :  430
rtd_num_of_wires          :    2

gear_ratio                : 50:10
microsteps                :   32
full_steps_per_rotation   :  200

filament_diameter         :    1.75
rotation_distance         :   22.70

# Phaetus Rapido Plus w/PT1000
nozzle_diameter           :    0.400
min_temp                  :    0
max_temp                  :  350
min_extrude_temp          :  170
max_power                 :    1.0
max_extrude_only_distance :  151
max_extrude_cross_section :    5

pressure_advance          :    0.035

control                   : pid
pid_kp                    :   26.107
pid_ki                    :    2.678
pid_kd                    :   63.637

[tmc2209 extruder]
uart_pin                  :  EBB36: PA15
interpolate               : False
run_current               :    0.6
sense_resistor            :    0.110
stealthchop_threshold     :    0

#####################################################################
#    Bed Heater
#####################################################################
## SSR Pin - HE1 / Thermistor - TB
[heater_bed]
heater_pin                :  BED_OUT
sensor_type               : Generic 3950
sensor_pin                :  TB
max_power                 :    0.8 # 0.4 watts / cm^2
min_temp                  :    0
max_temp                  :  120
control                   : pid
pid_kp                    :   46.007
pid_ki                    :    1.941
pid_kd                    :  272.591

[probe]
pin                       :  EBB36: PB9
x_offset                  :    0
y_offset                  :    0
z_offset                  :   -0.350

speed                     :    5
samples                   :    5
sample_retract_dist       :    1
samples_tolerance         :    0.005
samples_tolerance_retries :    5
samples_result            : median
activate_gcode: 
	{% set PROBE_TEMP = 150 %}
	{% set MAX_TEMP = PROBE_TEMP + 5 %}
	{% set ACTUAL_TEMP = printer.extruder.temperature %}
	{% set TARGET_TEMP = printer.extruder.target %}
	
	{% if TARGET_TEMP > PROBE_TEMP %}
	  { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
	  M109 S{ PROBE_TEMP }
	{% else %}
	  {% if ACTUAL_TEMP > MAX_TEMP %}
	    { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
	    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
	  {% endif %}
	{% endif %}

[settling_probe]
settling_sample           : true

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[safe_z_home]
home_xy_position          : 150,150
speed                     :  200
z_hop                     :    5
z_hop_speed               :   30

[quad_gantry_level]
gantry_corners: 
	-60, -10
	360, 370
points: 
	50,  50
	50, 250
	250, 250
	250,  50
speed                     :  300
horizontal_move_z         :    5
retries                   :   10
retry_tolerance           :    0.01
max_adjust                :   20

#####################################################################
#   Bed mesh
#####################################################################
[bed_mesh]
speed                     :  300
horizontal_move_z         :    5
mesh_min                  : 5,   5
mesh_max                  : 295, 295
probe_count               : 7,   7
algorithm                 : bicubic

#####################################################################
#   Fan Control
#####################################################################
## Print Cooling Fan
[fan]
pin                       :  EBB36: PA0
kick_start_time           :    0.5
off_below                 :    0.10

## Hotend Fan
[heater_fan hotend_fan]
pin                       :  EBB36: PA1
heater                    : extruder
heater_temp               :   50.0
max_power                 :    1.0
kick_start_time           :    0.5
shutdown_speed            :    0.0
fan_speed                 :    1.0

## Electronics fan
[temperature_fan electronics_fan]
pin                       :  FAN2
sensor_type               : temperature_mcu
max_power                 :    1.0
kick_start_time           :    0.5
shutdown_speed            :    0.0
off_below                 :    0.25
min_temp                  :    0
max_temp                  :  100
target_temp               :   65
min_speed                 :    0.0
max_speed                 :    1.0
control                   : pid
pid_kp                    :    1.0
pid_ki                    :    0.5
pid_kd                    :    2.0

## Nevermore
[fan_generic nevermore]
pin                       :  FAN4
max_power                 :    1.0
kick_start_time           :    0.5
shutdown_speed            :    0.0

[fan_generic CAN_FAN]
pin                       :  EBB36: PB8
max_power                 :    1.0
kick_start_time           :    0.5
shutdown_speed            :    0.0

#####################################################################
#   LED Control
#####################################################################
## Chamber Lighting - CNC_FAN5
[output_pin caselight]
pin                       :  FAN5
pwm                       : True
shutdown_value            :    0
value                     :    0
cycle_time                :    0.01

[neopixel sb_leds]
pin                       : EBB36: PD3
chain_count               :   11
color_order               : GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW, GRBW, GRBW
initial_red               :    1.0
initial_green             :    1.0
initial_blue              :    1.0
initial_white             :    1.0

[neopixel doas_left]
pin                       :  PB6
chain_count               :   18
color_order               : BGR
initial_red               :    1.0
initial_green             :    0.0
initial_blue              :    0.0

[neopixel doas_right]
pin                       :  PB7
chain_count               :   18
color_order               : BGR
initial_red               :    0.0
initial_green             :    0.0
initial_blue              :    1.0

#####################################################################
#   Additional Sensors
#####################################################################
## CW2 w/ ECAS
[filament_switch_sensor CW2]
switch_pin                :  EBB36: PB3
pause_on_runout           : True
runout_gcode: 
	_FILAMENT_RUNOUT
insert_gcode: 
	_FILAMENT_INSERT

[temperature_sensor HP_ProDesk_600_G3]
sensor_type               : temperature_host
sensor_path               : /sys/class/thermal/thermal_zone0/temp
min_temp                  :    0
max_temp                  :  100

[output_pin _beeper]
pin                       :  FAN3
pwm                       : True
cycle_time                :    0.001