#####################################################################
#   Settings
#####################################################################
#  GET_CONFIG
#  SET_CONFIG
#  _CONFIG
[gcode_macro GET_CONFIG]
gcode:
    {% set name = params.NAME|string %}

    {% set CFG = printer["gcode_macro _CONFIG"] %}

    _LOG NAME="settings.GET_CONFIG" MSG="{name}: '{CFG[name]}'"

[gcode_macro SET_CONFIG]
gcode:
    {% set name = params.NAME|string %}
    {% set to = params.TO %}

    {% set CFG = printer["gcode_macro _CONFIG"] %}
    SET_GCODE_VARIABLE MACRO=_CONFIG VARIABLE={name} VALUE={to}
    {% set CFG = printer["gcode_macro _CONFIG"] %}
    _LOG NAME="settings.SET_CONFIG" MSG="Set {name} to '{CFG[name]}'"

[gcode_macro _CONFIG]
# ----- General Settings ----- #
variable_printer_speed     : 450
variable_printer_speed_z   : 30
variable_printer_accel     : 5000
variable_printer_accel_z   : 300
variable_printer_decel     : 2500
variable_printer_scv       : 5

variable_printer_temp_cool : 55
variable_printer_temp_idle : 65

# ----- Print Settings ----- #
variable_print_surface       : 'PEI_TEXTURED'
variable_print_filament      : 'ABS','POLYMAKER','BLACK'
variable_print_nozzle        : 0.4
variable_print_bed_clear     : True

# ----- MMU Settings (ERCF) ----- #
variable_mmu_enabled           : True
variable_mmu_gates             : 6
variable_mmu_state_gate_brand  : ['POLYMAKER','POLYMAKER','POLYMAKER','POLYMAKER','POLYMAKER','POLYMAKER']

# ----- Logging Settings ----- #
variable_log_enforce: True
variable_log_level: 2

# ----- Homing ----- #
variable_home_sensorless       : True
variable_home_probe_x          :  150 ; X coordinate for z home
variable_home_probe_y          :  150 ; Y coordinate for z home
variable_home_probe_speed      :  100 ; z home speed
variable_home_probe_hop        :   10 ; z home park height
variable_home_probe_hop_speed  :  600 ; z home park speed
variable_home_bounce_enabled   : True
variable_home_bounce_distance  :   20
variable_home_bounce_speed     :   40 ; x/y bounce speed
variable_home_safety_hop       :   10 ; x/y z hop
variable_home_safety_hop_speed :   10 ; x/y z hop speed
variable_home_accel            : 6000 ; x/y home acceleration
variable_home_wait             : 1000 ; x/y home wait (for StallGuard to clear)
variable_home_x_current        : .5   ; x stepper current
variable_home_y_current        : .5   ; y stepper current

# ----- Retraction ----- #
variable_retract_enabled  : True # Firmware retraction
variable_retract_length   :   1
variable_unretract_length :   1
variable_retract_speed    :  30
variable_unretract_speed  :  30

variable_retract_pause    :  20
variable_retract_resume   :  20
variable_retract_cancel   :   5
variable_retract_end      :  40 # If ERCF disabled
variable_unretract_start  :  40 # If ERCF disabled

# ----- Filament ----- #
variable_filament_preload        :  5 # Load extra 5mm to be safe
variable_filament_load_extruder  : 38 # extruder gears to park position
variable_filament_load_hotend    : 60 # park position to melting pool
variable_filament_load_purge     : 40 # Extrude 20mm extra of filament

variable_filament_preunload      :  5 # purge extra 5mm
variable_filament_unload_hotend  : 20 # nozzle tip to melting pool
variable_filament_unload_park    : 60 # top of nozzle to parking position
variable_filament_unload_extruder: 42 # park position to extruder gears
variable_filament_unload_eject   : 20 # Unload extra 20mm to be safe
variable_filament_wait           :  2

# ----- Beeper ----- #
variable_beeper          : True
variable_beeper_dflt_frq : 1000 # Tone frequency; Use if S is omitted.
variable_beeper_dflt_dur : 100  # Tone duration; Use if P is omitted.
variable_beeper_dflt_vol : 0.01 # Tone volume; Between 0-1, 0.5 is maximum
variable_beeper_name     : '_beeper'
variable_beeper_max_freq : 10000

# ----- Toolhead LEDs ----- #
variable_th_led                  : True
variable_th_led_name             : "th_leds"
variable_th_led_nozzle_left_idx  : "1"
variable_th_led_nozzle_right_idx : "2"

# ----- Filament Sensor ----- #
variable_filament_sensor        : False
variable_filament_sensor_name   : 'SFS'
variable_filament_sensor_sensor : 'filament_motion_sensor SFS'

# ----- Mesh ----- #
variable_mesh          : True
variable_mesh_margin   : 0
variable_mesh_fuzz     : 3
variable_mesh_min_area : 2600

# ----- Purge ----- #
variable_purge          : True
variable_purge_margin   :    10   # Distance the purge will be in front of the print area, default is 10.
variable_purge_height   :     0.4 # Z position of nozzle during purge, default is 0.8.
variable_purge_amount   :    60   # Amount of filament to purge
variable_purge_rate     :     8   # Flow rate of purge in mm3/s
variable_purge_prime    :     5   # Prime nozzle before purge by this amount
variable_purge_speed_xy : 10000   # Purge travel xy movement speed
variable_purge_speed_z  :  3000   # Purge travel z movement speed

# ----- Wipe ----- #
variable_wipe             : True
variable_wipe_dflt_shakes :     6   # How many nozzle shakes to perform
variable_wipe_dflt_wipes  :    12   # How many full wipes to perform
variable_wipe_dflt_speed  : 10000   # Nozzle wipe speed in mm/min
variable_wipe_z           :     4.5 # Wipe Z
variable_wipe_shake_z     :     4   # Shake Z
variable_wipe_left        :    50   # Brush left
variable_wipe_right       :   100   # Brush right
variable_wipe_y           :   310   # Brush brush Y
variable_wipe_z_hop       :    10   # Z hop
variable_wipe_speed_xy    :  8000   # Travel XY speed
variable_wipe_speed_z     :  2000   # Travel Z speed

# ----- Scrape ----- #
variable_scrape           : True
variable_scrape_dflt_dist : 12
variable_scrape_dflt_y    : 305
variable_scrape_dflt_x    : 150
variable_scrape_dflt_z    : 0
variable_scrape_park_z    : 10
variable_scrape_speed     : 250
variable_scrape_on_y      : True

# ----- Bucket ----- #
variable_bucket       : True
variable_bucket_zhop  :    5
variable_bucket_on_x  : True # true: Move on x, else move on y
variable_bucket_left  :    0 # X left  / Y back
variable_bucket_right :  120 # X right / Y front
variable_bucket_alt   :  310 # Park pos. If on_x is True, it's the y axis position to park
variable_bucket_z     :   10 # Bucket park z height
variable_bucket_width :   67 # total bucket size
variable_bucket_speed : 3000 # Travel speed

# ----- NEVERMORE ----- #
variable_nevermore             : True
variable_nevermore_fan         : 'fan_generic nevermore'
variable_nevermore_name        : 'nevermore'
variable_nevermore_speed       : 0.8
variable_nevermore_replace_in  : 50 # Hours
variable_nevermore_replacement : 'M117 Replace NEVERMORE carbon'
variable_nevermore_time        : -1 # Placeholder

# ----- BED FANS ----- #
variable_bedfans           : True
variable_bedfans_name      : 'bed_fans'
variable_bedfans_threshold : 60    # If bed temp target is above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
variable_bedfans_heat      : 0.2   # Fan speed while bed is heating
variable_bedfans_slow      : 0.4
variable_bedfans_fast      : 0.6   # Fan speed once bed temp is reached

# ----- Build surface settings ----- #
variable_surfaces: {
        'Enabled': True,
        'SCRAPE':       {'Height': 0.350},
        'PEI_SMOOTH':   {'Height': 0.450},
        'PEI_TEXTURED': {'Height': 0.350},
        'G10':          {'Height': 0.450},
    }
# ----- Filament settings ----- #
variable_filaments: {
        'Enabled': True,
        'ABS': {
            'POLYMAKER': {
                'PA':             0.055,
                'Retract':        2,
                'RetractSpeed':  30,
            },
            'HATCHBOX': {
                'PA':             0.055,
                'Retract':        1,
                'RetractSpeed':  30,
            },
        },
        'ASA': {},
        'PETG': {
            'POLYMAKER': {
                'PA':             0.075,
                'Retract':        3,
                'RetractSpeed':  40,
            },
        },
        'PLA': {},
    }

# ----- Filament settings ----- #
variable_nozzles: {
        'Enabled': True,
        '0.4': {
            'ZAdjust': 0
        }
    }
# ----- Toolhead LEDs ----- #
variable_th_colors : {
        'nozzle_left': {
            'off':       {'r': 0.00, 'g': 0.00, 'b': 0.00, 'w': 0.0},
            'on':        {'r': 1.00, 'g': 1.00, 'b': 1.00, 'w': 1.0},
            'standby':   {'r': 1.00, 'g': 0.00, 'b': 0.00, 'w': 0.5},
            'busy':      {'r': 1.00, 'g': 0.00, 'b': 0.00, 'w': 0.5},
            'ready':     {'r': 1.00, 'g': 0.00, 'b': 0.00, 'w': 0.5},
            'heating':   {'r': 1.00, 'g': 0.00, 'b': 0.00, 'w': 0.8},
            'leveling':  {'r': 0.50, 'g': 0.20, 'b': 0.00, 'w': 0.8},
            'homing':    {'r': 0.50, 'g': 0.50, 'b': 0.00, 'w': 0.8},
            'cleaning':  {'r': 0.50, 'g': 0.00, 'b': 0.50, 'w': 0.8},
            'meshing':   {'r': 0.50, 'g': 0.80, 'b': 0.00, 'w': 0.8},
            'printing':  {'r': 0.50, 'g': 0.50, 'b': 0.50, 'w': 0.5},
            'loading':   {'r': 1.00, 'g': 0.50, 'b': 0.00, 'w': 0.5},
            'unloading': {'r': 1.00, 'g': 0.00, 'b': 0.50, 'w': 0.5},
        },
        'nozzle_right': {
            'off':       {'r': 0.00, 'g': 0.00, 'b': 0.00, 'w': 0.0},
            'on':        {'r': 1.00, 'g': 1.00, 'b': 1.00, 'w': 1.0},
            'standby':   {'r': 0.00, 'g': 0.00, 'b': 1.00, 'w': 0.5},
            'busy':      {'r': 0.00, 'g': 0.00, 'b': 1.00, 'w': 0.5},
            'ready':     {'r': 0.00, 'g': 0.00, 'b': 1.00, 'w': 0.5},
            'heating':   {'r': 1.00, 'g': 0.00, 'b': 0.00, 'w': 0.8},
            'leveling':  {'r': 0.50, 'g': 0.20, 'b': 0.00, 'w': 0.8},
            'homing':    {'r': 0.50, 'g': 0.50, 'b': 0.00, 'w': 0.8},
            'cleaning':  {'r': 0.50, 'g': 0.00, 'b': 0.50, 'w': 0.8},
            'meshing':   {'r': 0.50, 'g': 0.80, 'b': 0.00, 'w': 0.8},
            'printing':  {'r': 0.50, 'g': 0.50, 'b': 0.50, 'w': 0.5},
            'loading':   {'r': 1.00, 'g': 0.50, 'b': 0.00, 'w': 0.5},
            'unloading': {'r': 1.00, 'g': 0.00, 'b': 0.50, 'w': 0.5},
        },
    }
gcode: