#####################################################################
#   Bed fans
#####################################################################
# BED FANS Fan Control
#  BEDFANS_OFF
#  BEDFANS_SLOW
#  BEDFANS_FAST
#  BEDFANS_FULL
#  _FANS_LOOP

[gcode_macro _SET_BEDFANS]
gcode:
    {% set SPEED = params.SPEED|float %}

    {% set CFG = printer["gcode_macro _CONFIG"] %}

    {% if CFG.bedfans %}
        SET_FAN_SPEED FAN={CFG.bedfans_name} SPEED={SPEED}
    {% endif %}

[gcode_macro BEDFANS_OFF]
description: Turn bed fans off
gcode:
    _SET_BEDFANS SPEED=0

[gcode_macro BEDFANS_HEAT]
description: Set bed fans to heat
gcode:
    _SET_BEDFANS SPEED={printer["gcode_macro _CONFIG"].bedfans_heat}

[gcode_macro BEDFANS_SLOW]
description: Set bed fans to slow
gcode:
    _SET_BEDFANS SPEED={printer["gcode_macro _CONFIG"].bedfans_slow}

[gcode_macro BEDFANS_FAST]
description: Set bed fans to fast
gcode:
    _SET_BEDFANS SPEED={printer["gcode_macro _CONFIG"].bedfans_fast}

[gcode_macro BEDFANS_FULL]
description: Set bed fans to full
gcode:
    _SET_BEDFANS SPEED=1

[delayed_gcode _FANS_LOOP]
gcode:
    {% if printer.heater_bed.target >= printer["gcode_macro _CONFIG"].bedfans_threshold %}								# Continue only if target temp greater than threshold.
        {% if printer.heater_bed.temperature|int >= (printer.heater_bed.target|int - 1) %}
            BEDFANS_FAST															# If within 1 degree of target temp: Higher speed fans
            {% if printer.print_stats.state == "printing" %}
                NEVERMORE_ON
            {% endif %}
        {% else %}
            UPDATE_DELAYED_GCODE ID=_FANS_LOOP DURATION=5						# If temp not reached yet: loop again
        {% endif %}
    {% endif %}